#ca{
    width: 300px;
    height: 100px;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 40px;
   padding: 10px;
   
   
}
#ca p{
    margin: 5px;
   
   
}
#ca button{
    width: 50px;
    height: 30px;
    margin: 5px;
    float: left;
    background-color: black;
    color: aliceblue;
}